# GNU Emacs temporary files
\#*
.\#*
*~
# Vim temporary files
.*.sw[po]
.terraform*
.DS_Store
compiled.css
vufind/themes/msul/css/less/
._*
.idea/
.phpunit.result.cache
.php_cs_cache
.phpstan_cache
reports/
__pycache__
.phpunit.cache
