x-zookeeper-envs: &zookeeper_envs
  ZOO_SERVERS: server.1=zk1:2888:3888;2181 server.2=zk2:2888:3888;2181 server.3=zk3:2888:3888;2181
  ZOO_4LW_COMMANDS_WHITELIST: srvr,mntr,conf,ruok,stat
  JVMFLAGS: "-Xmx512m -Xms512m"
  ZOO_AUTOPURGE_PURGEINTERVAL: 24
  ZOO_AUTOPURGE_SNAPRETAINCOUNT: 8
  ZOO_CFG_EXTRA: "quorumListenOnAllIPs=true maxSessionTimeout=5000"

version: "3.8"
services:
  zk:
    image: registry.gitlab.msu.edu/msu-libraries/catalog/catalog/zk:${CI_COMMIT_SHORT_SHA}${EXTRA_TAG_SUFFIX}
    volumes:
      - zk-data:/data
      - zk-datalog:/datalog
      - zk-logs:/logs
    hostname: zk{{slice .Node.Hostname 8 9}}
    environment:
      ZOO_MY_ID: "{{slice .Node.Hostname 8 9}}"
      <<: *zookeeper_envs
    networks:
      - internal
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    deploy:
      mode: replicated
      replicas: 3
      placement:
        max_replicas_per_node: 1
      update_config:
        parallelism: 1
        failure_action: rollback
      restart_policy:
        window: 15s

networks:
  internal:
    name: ${STACK_NAME}-internal
    external: true

volumes:
  zk-data:
  zk-datalog:
  zk-logs:
