##########################################
# Logging & Notification for Cron Jobs
##########################################
#
# To only log output of a job to Docker logs:
# - Output of command must be passed to the `logger` command. You may optionally tag (-t) the message.
# - To log stdout AND stderr, you will need to redirect stderr to stdout by appending `2>&1` to the command.
#     /path/to/my_cron_job.sh 2>&1 | logger -t MY_CRON
#
# To only receive email notifications with job output, output must be sent to stdout:
# - All script output will be emailed be default, whether script succeeds or fails.
#     /path/to/my_cron_job.sh
#
# - To suppress output if job succeeds, preventing sending email notification, prefix with chronic.
#     chronic /path/to/my_cron_job.sh
#
# To both receive email and log to Docker, you will need to duplicate the output to both `logger` and stdout:
# - This can be done via pipe into `pee` and passing both the `logger` and `cat` commands.
#     /path/to/my_cron_job.sh 2>&1 | pee "logger -t MY_CRON" "cat"
#
# - To suppress output, preventing sending email notification, except in case the script fails.
#     chronic mispipe "/path/to/my_cron_job.sh 2>&1" "pee 'logger -t MY_CRON' 'cat'"
#

MAILTO=$EMAIL

# Trigger harvest start
#*/2 *	* * *	root    /usr/bin/flock -n /tmp/harvest.lock /harvest-and-import.sh --oai-harvest --batch-import
0 ${NODE}    * * *	root    /usr/bin/flock -n /tmp/hlm-harvest.lock /hlm-harvest-and-import.sh --harvest --import 2>&1 | pee "logger -t HLM_IMPORT" "cat"

# Course reserves update
30 ${NODE}	* * *	root    /usr/bin/php /usr/local/vufind/util/index_reserves.php 2>&1 | logger -t INDEX_RESERVES

# Cleanup unsaved searches
0 0     * * *   root    php /usr/local/vufind/public/index.php util/expire_searches 2>&1 | logger -t EXPIRE_SEARCHES

# Backup Solr
0 2 * * *  root  curl "http://solr:8983/solr/biblio/replication?command=backup&location=/mnt/solr_backups/biblio" 2>&1 | logger -t SOLR_BACKUP
0 4 * * *  root  curl "http://solr:8983/solr/authority/replication?command=backup&location=/mnt/solr_backups/authority" 2>&1 | logger -t SOLR_BACKUP
