{% extends 'layout.html' %}

{% block title %}Graphs - {{data}} - {{period}}{% endblock %}

{% block scripts %}
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/plot.js') }}"></script>
    <script>
        plot({{pt_x|tojson}}, {{pt_y|tojson}}, {{data}}, {{period}});
    </script>
{% endblock %}

{% block content %}
    <p><a href="/monitoring">Back to monitoring home</a></p>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li>
                        <a href="/monitoring/graphs/{{data}}/hour">Last hour</a>
                    </li>
                    <li>
                        <a href="/monitoring/graphs/{{data}}/day">Last day</a>
                    </li>
                    <li>
                        <a href="/monitoring/graphs/{{data}}/week">Last week</a>
                    </li>
                    <li>
                        <a href="/monitoring/graphs/{{data}}/month">Last month</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div id="graph"></div>
            </div>
        </div>
    </div>
{% endblock %}
