{% extends 'layout.html' %}

{% block title %}Logs - {{service}}{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#node1">Node 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#node2">Node 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#node3">Node 3</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane container active" id="node1"><pre>{{log1}}</pre></div>
        <div class="tab-pane container fade" id="node2"><pre>{{log2}}</pre></div>
        <div class="tab-pane container fade" id="node3"><pre>{{log3}}</pre></div>
    </div>
{% endblock %}
