// Button btn-primary
.btn-primary {
  border-radius: 2rem;
  line-height:1.4;
  padding: 0.375rem 0.75rem;
    &:hover {
      background-color:$darkparakeetgreen;
      border-color:$darkparakeetgreen;
      color:#fff;
  }
    &:active {
      background-color:$msugreen !important;
      border-color:$msugreen !important;
      color:#fff;
  }
    &:focus {
      background-color:$parakeetgreen !important;
      border-color:$parakeetgreen;
      color:#fff;
  }
}

// override bootstrap5 > scss > bs3-compat.scss gray more button
.btn.more-btn:not(.facet) { 
  background-color:$parakeetgreen;
  &:hover {
    background-color:$darkparakeetgreen;
    border-color:$darkparakeetgreen;
  }
}

.btn-default {
  border-radius: 2rem;
}

//Filter button on Articles and More when 4+ selected
.search-filter-dropdown {
  .btn-primary {
    border-radius: 4px;
    padding: 2px 8px;
    color: #fff;
    background: $parakeetgreen;
    vertical-align: baseline;
    &:hover {
      background-color:$darkparakeetgreen;
      border-color:$darkparakeetgreen;
      color:#fff;
    }
    &:active {
      background-color:$msugreen !important;
      border-color:$msugreen !important;
      color:#fff !important;
    }
  }
  ul {
    padding:0.5rem;
  }
}

// Fix visibility of text for on-hover of disabled buttons
.btn-group input {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover {
      background-color: $darkgray;
      color: white;
   }
  }
}

// Fix styling of the range selector on the new items page
.form-search-newitem .btn-group {
  display: flex;
  gap: 0.5rem;

  >label {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    >.msul-btn-group-span {
      line-height: 1rem;
      padding: inherit;
    }
  }
}

.bulkActionButtons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .selection-controls-bar {
    order: 10;
  }
  .action-toolbar {
    order: 20;
  }
  .bulk-checkbox input {
    height:1.25rem;
    width:1.25rem;
    vertical-align:text-bottom;
  }
  .action-toolbar li button {
    background-color:transparent;
    color:$darkparakeetgreen;
  }
}

// Focus indicator
.btn-default:focus {
  color:initial;
  background-color:initial;
  border-color:revert;
}
