header {
    background-color: $msugreen;
    padding-bottom: 1rem;

  nav {
    a, a:hover, a:active, a:visited {
      color: #fff;
      text-decoration: none;
    }
  }

  .navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: end; // This compensate for the MSU logo not being centered in the image

    margin-top: 1.5rem;
    width: 100%;

    > * {
      flex: 1 1;
    }

    .icon-link {
      .fa {
        margin-right: 0.5rem;
        color: #fff;
      }
    }

    .navbar-msubrand {
      order: 1;
      min-width: 20rem;

      a {
        display: inline-block; // for focus indicator
      }
    }

    // Main library link
    .navbar-library-link {
      text-align: center;
      text-transform: uppercase;
      @media only screen and (min-width: 790px) {
        order: 2;
      }
      @media only screen and (max-width: 789px) {
        // Go on the next line and take full width
        order: 3;
        flex-basis: 100%;
        margin-top: 1rem;
      }

      .navbar-msul {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
      }
    }

    div:has(>.navbar-toggler) {
      @media only screen and (min-width: 790px) {
        order: 3;
      }
      @media only screen and (max-width: 789px) {
        order: 2;
      }
      text-align: right;
    }

    .navbar-toggler {
      background-color: transparent;
      color: white;
    }

    @media only screen and (min-width: 992px) {
      div:has(.navbar-toggler) {
        display: none;
      }

      .navbar-collapse {
        display: block;
      }
    }
    @media only screen and (max-width: 991px) {
      .navbar-collapse {
        flex-basis: 100%;
        margin-top: 2rem;
      }
    }
  }

  .navbar-catalog {
    font-weight: 610;

    &:not(h1) {
      font-size: 2.5rem;
      margin: 1rem 0;
    }
  }
}

header .navbar-header .navbar-collapse {
  order: 3;

  .navbar-nav {
    justify-content: end;
    flex-wrap: nowrap;

    a {
      white-space: nowrap;
    }
  }

  a, a:visited {
    color: #fff;
  }

  a:hover, a:active, a:focus {
    color: #fff;

    & .fa {
      color: #fff;
    }
  }

  .nav > li > a {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    &:hover {
      color: #fff;
      background-color: initial;
      outline-color: transparent;
    }

    &:focus {
      color: #fff;
      background-color: initial;
    }
  }
}

// hide back to catalog link
.template-dir-channels,
.template-dir-content,
.template-name-results,
.template-name-search,
.template-name-advanced {
  .backtocat {
    display: none;
  }
}

.backtocat,
.backtoorigin {
  width: auto;

  color: white;

  p {
    margin-bottom: 0;
  }

  a, a:hover, a:active, a:visited {
    color: #fff;
  }

  & > p > a {
    text-decoration: none;
  }
}