.template-dir-alphabrowse.template-name-home,
.template-dir-browse.template-name-home {
  .main {
    padding: .1rem 0 1rem 0;
    background: white;
  }
}


// hide filters on home page
.template-dir-search.template-name-home,
.template-dir-eds.template-name-home,
.template-dir-combined.template-name-home
{
  .active-filters {
    display:none !important;
  }
}

.search-home-facets {
  display: block;
  padding: 2rem 1rem 0 1rem;
  margin: 1.5rem 1rem 0 1rem;

  border-radius: 1rem;
  background: white;

  @media only screen and (min-width: 768px) {
    padding-right: 2%;
    padding-left: 2%;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 5%;

    .home-facet {
      flex: 1 1 auto;
      min-width: 13rem;

      form, label, select, input:not([type="submit"]) {
        display: block;
        width: 100%;
      }

      label {
        margin-bottom: 0.5rem;
        font-weight: normal;
      }

      input, select {
        margin-bottom: 1.5rem;
      }

      #reservesSearchForm_lookfor,
      #alphaBrowseForm_from,
      #alphaBrowseForm_source {
        width: 100%;
      }

      h2 {
        margin-bottom: 2rem;
        padding-top: 2rem;
        padding-left: 5%;
        font-weight: 520;
      }
    }

    .home-facet.home-facet-reserves {
      input {
        display: inline-block;
      }
    }

    .home-facet.home-facet-categories {
      display: flex;
      flex-basis: min-content;

      @media only screen and (min-width: 640px) {
        justify-content: center;
      }
    }
  }
}

.template-name-home {
  background-color: $msugreen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 110%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  footer {
    background: white;
  }

  main {
    margin-bottom: 5rem;
    padding-bottom: 1.5rem;

    background: rgba(255,255,255,0.8);
    border-radius: 1rem;

    #searchForm {
      margin: 0;
      padding: 0;

      .nav-tabs {
        border-bottom: .2rem $gray solid;

        .nav-item {
          display: inline-flex;

          &:hover {
            background: none;
          }

          &:not(:first-child) .nav-link {
            border-radius: 0;
          }

          &:first-child .nav-link {
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          .nav-link {
            margin: 0;
            padding: .5rem;
            border-width: 0;
            border-bottom: 0.3rem solid transparent;
            border-top: 0.3rem solid transparent;

            font-weight: 520;
            color: $gray;

            &.active,
            &:hover, &:active, &:hover, &:focus,
            {
              border-bottom: .3rem solid $eggplant;

              color: $eggplant;
              background: white;
            }
          }
        }
      }
    }

    .searchForm-inputs {
      margin: 2rem 1rem;
      padding-bottom: .7rem;
      border-bottom: 1px solid $lightgray;
      row-gap: 1rem;
      justify-content: center;

      label {
        margin: auto 1.5rem;
      }

      .form-select {
        max-width: 15rem; // Override vufind default
        flex: 3 2 auto;
      }

      .searchForm-query {
        flex: 12 12 auto;
        width: auto;

        .form-control {
          // Override vufind default
          width: 100%;
          max-width: inherit;
        }
      }

      // More options dropdown
      nav {
        flex: 3 2 auto;
        margin: auto 1.5rem;
        padding: var(--bs-border-width) 0 var(--bs-border-width) .2rem; // To compensate for the border width of other elements
        max-width: 15rem;

        background: $parakeetgreen;
        font-family: var(--bs-body-font-family), serif;
        // Start - Rounded corners where it needs
        border-radius: $input-border-radius;

        &:has(.active.dropdown) {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          *[data-js-dropdown-header] a {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        *[data-js-dropdown-header] a {
          border-radius: $input-border-radius;
        }

        .dropdown {
          border-radius: initial;

          &, ul, li:last-child a {
            border-bottom-left-radius: $input-border-radius;
            border-bottom-right-radius: $input-border-radius;
          }
        }
        // End - Rounded corners where it needs

        div {
          border: 0;
        }

        .dropdown {
          left: 0;

          ul {
            background: $parakeetgreen !important;
          }
        }

        a, a:visited {
          color: white !important;
          font-size: var(--bs-body-font-size);
          padding: .375rem;
        }

        a:hover, a:focus {
          background-color: $darkparakeetgreen !important;
          outline: inherit;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .template-name-home {
    .searchHomeContent {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    main {
      margin-left: 2rem;
      margin-right: 2rem;

      .searchForm-inputs {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }

      .search-home-facets {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
      }
    }
  }
}
