.template-dir-search.template-name-home,
.template-dir-eds.template-name-home {
  // hide filters on home page
  .active-filters {
    display: none !important;
  }
}

.search-home-facets {
  display: block;
  padding: 1rem 1rem 0 1rem;
  margin: 1.5rem 1rem 0 1rem;

  border-radius: 1rem;
  background: #EEE;

  @media only screen and (min-width: 768px) {
    padding-right: 2%;
    padding-left: 2%;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 5%;

    .home-facet {
      flex: 1 1 auto;
      min-width: 13rem;

      form, label, select, input:not([type="submit"]) {
        display: block;
        width: 100%;
      }

      label {
        margin-bottom: 0.5rem;
        font-weight: normal;
      }

      input, select {
        margin-bottom: 1.5rem;
      }

      #reservesSearchForm_lookfor,
      #alphaBrowseForm_from,
      #alphaBrowseForm_source {
        width: 100%;
      }

      h2 {
        margin-bottom: 2rem;
        padding-top: 2rem;
        padding-left: 5%;
        font-weight: 520;
      }
    }

    .home-facet.home-facet-reserves {
      input {
        display: inline-block;
      }
    }

    .home-facet.home-facet-categories {
      display: flex;
      flex-basis: min-content;

      @media only screen and (min-width: 640px) {
        justify-content: center;
      }
    }
  }
}
