// Global layout customizations

body {
  background-color: $msugreen;
}

#content {
  margin-bottom: 5rem;
  padding-bottom: 1.5rem;
  background: white;
  border-radius: 1rem;
}

header .banner.container.navbar, #content {
  @media only screen and (min-width: 1024px) {
    margin-left: calc(var(--bs-gutter-x) * .5 + 1rem);
    margin-right: calc(var(--bs-gutter-x) * .5 + 1rem);
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}

.search.navbar {
  padding: 0;
}

.mainbody {
  background-color: white;
}

footer {
  background: white;
}

.template-name-newitem, .template-name-advanced, .template-name-login, .template-name-404, .template-name- {
  #content {
    padding: 0 1rem 1rem 1rem;
  }
}

.backtocat,
.backtoorigin {
  width: auto;

  p {
    padding-top: 0.5rem;
    margin: 0;
  }

  & > p > a {
    text-decoration: none;
  }

  @media only print {
    display: none;
  }
}
