// Change all bootstrap variables before importing bootstrap
// ---------------------------------------------------------
@import "variables";
@import "../../bootstrap5/scss/bootstrap";

// Metropolis theme
@import url("https://msu-p-001.sitecorecontenthub.cloud/api/public/content/1a1d46b45afb40eda6ebf4ed44077295");

// Utility Classes
// ---------------
.bg-color-white {
  background-color:#ffffff;
}

// Bootstrap Class overrides
// * Note: Somore more specific overrides exist elsewhere,
//   like buttons.scss
// -------------------------
.container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
}

.media-left {
  a {
    padding-bottom: .25rem;
  }
}

// Styling for all badges except the format badges on
// search result pages
.badge:not(.format) {
  background-color: inherit;
  font-weight: bold;
  font-size: 1.1rem;
}

.browse-item.with-badge {
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  text-decoration: none;

  > :not(.badge) {
    text-decoration: underline;
  }

  .badge {
    position: relative;
    top: inherit;
    right: inherit;
    display: inline-block;
    text-decoration: none;
  }
}

// Style for links
.icon-link {
  color: $darkparakeetgreen;
  &:hover {
    color: black;
  }
}
.icon-link__label {
  text-decoration: none;
  font-weight: bold;
  font-size: 90%;
}

// Fix the hover text color on selected items on
// the browse page
.browse-item {
  &:hover {
    color: black;
  }
}

// HTML element overrides
// * Note: some more specific overrides exist elsewhere,
//   like tables.scss
// ----------------------
a {
  color:$darkparakeetgreen;
  &:hover {
    color: black;
  }
}

body, button, select, input {
  letter-spacing:.04rem;
}

h1 {
  margin-top: 1rem;
  color: $eggplant;
  font-weight: 600;
}

h2 a {
  color: $eggplant;
  text-decoration:none;
  &:hover {
    color:$eggplant;
  }
}

input[type="checkbox"] {
  accent-color: $darkparakeetgreen
}

label, .field-label {
  color: $msugreen;
  font-weight: 700;
}


// Focus indicators
a.sr-only:focus {
  background-color:#ffffff !important;
}
*, a, a.btn, a.nav-link, a.page-link, a.toolbar-btn, input, input.btn, button.btn, select.form-select, .form-control, .active-filters .filters .filter-value, .slider-container .slider-handle {
  .searchForm_lookfor:focus + #searchForm_controls, &:focus, &:focus-visible {
    outline-color: transparent !important; // shows on Windows high contrast, box shadow doesn't
    outline-width: 2px !important;
    outline-style: solid !important;
    box-shadow: 0 0 2px 2px rgba(0, 122, 255, .7), 0 0 2px 2px rgba(255, 255, 255, .9);
  }
}


// Import local customizations
// ---------------------------
@import "advanced-search.scss";

@import "alphabrowse.scss";

@import "buttons.scss";

@import "custom-notices.scss";

@import "facets.scss";

@import "feedback.scss";

@import "footer";

@import "get-this";

@import "header";

@import "home"; 

@import "layout";

@import "login.scss";

@import "myaccount.scss";

@import "pagination.scss";

@import "popover.scss";

@import "record.scss";

@import "reserves.scss";

@import "search-form.scss";

@import "search-results.scss";

@import "tables.scss";

@import "tabs.scss";
