#content nav ul.pager {
  margin-top: 0;
}

// LibKey and EDS link styling
.result-body {
  .custom-link {
    display: inline-block;
    padding-right: 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
    &:hover {
      color: black;
    }
  }
  .libkey-link {
    display: inline-block;
    .icon-link__label {
      padding-right: 1rem;
    }
    .fa-lock {
      text-decoration: underline;
    }
  }
}

.result-body {
  /* Get this button on the search results page */
  .placehold {
    padding: 0 .5rem 0 .5rem;
    font-size: 75%;
    font-weight: 700;
    margin-left: 0;
  }
  /* The format badges on the search results page should have a background */
  /* color and consistent height */
  .format {
    background-color: $lavendernew;
    line-height:1rem !important;
  }
  /* Hide status tag, as we're using the Get-this button instead */
  .status {
    display: none;
  }
  h2 {
    margin-bottom:0.2rem;
  }
  h2 a {
    color: $halfdarkparakeetgreen;
    &:hover {
      color: $darkparakeetgreen;
      text-decoration: underline;
    }
  }
}

// Remove color background from alert-info on results pages
.template-dir-search.template-name-results, .template-dir-eds.template-name-search, .template-dir-combined.template-name-results {
  .alert {
    padding-left:0;
  }
  .alert-info {
    background:none;
    border:none;
  }
}

.search-results-container {
  background-color: #EEE;
  h1.search-term {
    margin-top: 0;
    padding-top: 1rem;
  }
}

// Searchtools spacing
.searchtools {
  padding-bottom: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
  ul li:not(:first-child) {
    &:before {
      content: none;
    }
    padding-left: 1rem;
  }
}

.view-buttons {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.search-term {
  margin: 1rem 1rem 0.5rem 1rem;
  font-size: 2rem;
}

// move sort dropdown left
@media only screen and (min-width : 768px) {
  :not(nav) > .pager {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .view-buttons {
    > a, > a:visited {
      text-align:center;
      padding:0.5rem;
      text-decoration: none;
      color:#18453b;
      background-color: $lightsage;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      border-radius: 0.5rem;
    }

    > a:hover, > a:active, > span {
      text-align:center;
      padding:0.5rem;
      text-decoration: none;
      color:#ffffff;
      background-color: $parakeetgreen;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      border-radius: 0.5rem;
    }

    .icon-link__label {
      text-decoration: none;
    }

    > .icon-link:hover {
      color:#ffffff;
    }
  }

  div.search-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 2rem;
    margin-right: 0.5rem;

    .search-stats {
      display: flex;
      align-items: center;
      column-gap: 2rem;
    }

    nav {
      padding-top: 0.5rem;
      flex-grow: 1;
      justify-content: center;
    }

    .search-controls {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin: .5rem 0 .5rem 0;

      .search-result-limit {
        margin-right:2rem;
      }
      .search-sort .form-control {
        width:15rem;
      }
    }
  }
}

// Highlighting
.highlight,
mark {
  background: #E5E5E5;
  padding: .1em .2em;
}

// results record list design clean up
.result {
  margin-bottom:1rem;
  .checkbox-select-item {
    display:block;
    height:1.25rem;
    width:1.25rem;
  }
  .media-body .result-body {
    font-size: 1.1rem;
    h2 {
      font-size: 1.15rem;
    }
    .fulltext {
      display:inline;
    }
    & :not(:first-child) {
      line-height:1.7rem;
    }
    th {
      padding-right: 1rem;
      vertical-align: top;
      width: 15%;
    }
  }
  .media {
    .media-left {
      max-width: min(20%, 100px);
      font-size: 14px;
    }
    @media only screen and (min-width : 768px) {
      .result-body {
        width: calc(100% - 11rem);
      }
      .result-links {
        width: 10rem;
        padding-left: 1rem;
      }
    }
  }
}

.media-body .result-body table tbody tr {
  td, th {
    padding: 0 0 .2rem 0;
  }
}

@media only screen and (max-width : 750px) {
  .result .media-body .result-body {
    table, tbody, tr, th, td {
      display: block;
    }
    th {
      width: 100%;
      &:after {
        content: ":";
      }
    }
  }
}

@media only screen and (min-width : 1024px) {
  .result .result-body th {
    white-space: nowrap;
  }
  .template-dir-author.template-name-search .mainbody.left {
    padding-left: 1rem;
  }
}

.mainbody.right {
  @media only screen and (min-width : 768px) {
    .container {
      padding-left:0;
    }
  }
}

// Facet sidebar
#search-sidebar {
  padding: 0 .7rem 0 .7rem;
  margin-top: 0;
}

.navbar-form {
  width: 100%;
  &> .tab-content, &> .active-filters {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width : 767px) {
  .result {
    .result-body {
      overflow-wrap: anywhere;
    }
    .checkbox {
      display:block;
    }
  }
}

.search-footer {
  display: flex;
  flex-wrap: wrap;
  nav {
    margin: .5rem auto 0 auto;
  }
}

// Align search results with wide screen (assuming headers are the same for all records)
.record-list .result-body table {
  width: 100%;
}
