// Remove table striping
// Baseline styles
.table, .tab-content table {
  width: auto;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      vertical-align:text-top;

      > th {
        border:0;
        width:auto;
      }

      > td {
        padding: $table-cell-padding-y $table-cell-padding-x $table-cell-padding-y $table-cell-padding-x;
        line-height: $line-height-base;
        width:auto;
        border-top: 0 solid $table-border-color;
        overflow-wrap: anywhere;
      }
    }
  }
}
