############# Prod Deploy ###############
Begin Prod Deploy:
  stage: Deploy Prod
  extends: Set Stack Name
  environment:
    # This can't be part of -prod env because we would need a coresponding Remove Environment job
    name: $CI_COMMIT_BRANCH
  needs:
    - Verify Docker Health
  variables:
    PROD: "true"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $PROD == "true" && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
      when: manual

Deploy Prod Compose Files:
  stage: Deploy Prod
  environment:
    name: $CI_COMMIT_BRANCH-prod/deploy-compose
    auto_stop_in: 2 weeks
  extends: Deploy Compose Files
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true

Deploy Prod Internal Network:
  stage: Deploy Prod
  extends: Deploy Internal Network
  environment:
    name: $CI_COMMIT_BRANCH-prod/deploy-network
    auto_stop_in: 2 weeks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - Deploy Prod Compose Files

Initialize Prod Log Dirs:
  stage: Deploy Prod
  extends: Initialize Log Dirs
  environment:
    name: $CI_COMMIT_BRANCH-prod/deploy-network
    auto_stop_in: 2 weeks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - Deploy Prod Internal Network

Bootstrap Prod Stacks:
  stage: Deploy Prod
  environment:
    name: $CI_COMMIT_BRANCH-prod/bootstrap
    auto_stop_in: 2 weeks
  extends: Bootstrap Stacks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - Deploy Prod Compose Files
    - Deploy Prod Internal Network

Deploy Prod ZK:
  stage: Deploy Prod
  extends: Deploy ZK
  environment:
    name: $CI_COMMIT_BRANCH-prod/deploy-zk
    auto_stop_in: 2 weeks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - Bootstrap Prod Stacks

Deploy Prod Solr:
  stage: Deploy Prod
  extends: Deploy Solr
  environment:
    name: $CI_COMMIT_BRANCH-prod/deploy-solr
    auto_stop_in: 2 weeks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - Deploy Prod ZK
    - Bootstrap Prod Stacks

Deploy Prod DB:
  stage: Deploy Prod
  extends: Deploy DB
  environment:
    name: $CI_COMMIT_BRANCH-prod/deploy-db
    auto_stop_in: 2 weeks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - Bootstrap Prod Stacks
    - Initialize Prod Log Dirs

Deploy Prod Vufind:
  stage: Deploy Prod
  extends: Deploy Vufind
  environment:
    name: $CI_COMMIT_BRANCH-prod/deploy-vufind
    auto_stop_in: 2 weeks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - Verify Prod DB Health
    - Verify Prod Solr Health

Deploy Prod Vufind Build Env:
  extends: Deploy Vufind Build Env
  environment:
    name: $CI_COMMIT_BRANCH-prod/deploy-buildenv
    auto_stop_in: 2 weeks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
      when: manual
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - Deploy Prod Vufind

Deploy Prod Monitoring:
  stage: Deploy Prod
  extends: Deploy Monitoring
  environment:
    name: $CI_COMMIT_BRANCH-prod/deploy-monitoring
    auto_stop_in: 2 weeks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - Deploy Prod Internal Network

Verify Prod Docker Health:
  stage: Deploy Prod
  extends: Verify Docker Health
  environment:
    name: $CI_COMMIT_BRANCH-prod/verify
    auto_stop_in: 2 weeks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - job: Deploy Prod Compose Files
      artifacts: true
    - Deploy Prod Monitoring
    - Deploy Prod Vufind

Verify Prod Solr Health:
  extends: .stack_template
  environment:
    name: $CI_COMMIT_BRANCH/verify
    auto_stop_in: 2 weeks
  timeout: 40m
  needs:
    - job: Set Stack Name
      artifacts: true
    - job: Deploy Prod Compose Files
      artifacts: true
    - Deploy Prod Solr
  script:
    - bash ./cicd/verify-solr-health

Verify Prod DB Health:
  extends: .stack_template
  environment:
    name: $CI_COMMIT_BRANCH/verify
    auto_stop_in: 2 weeks
  timeout: 40m
  needs:
    - job: Set Stack Name
      artifacts: true
    - job: Deploy Prod Compose Files
      artifacts: true
    - Deploy Prod DB
  script:
    - bash ./cicd/verify-db-health

Prod Run Functional Tests:
  stage: Deploy Prod
  extends: Run Functional Tests
  environment:
    name: $CI_COMMIT_BRANCH-prod/run-tests
    auto_stop_in: 2 weeks
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_DEPLOY_FREEZE == null && $CI_PIPELINE_SOURCE != "schedule"'
  needs:
    - job: Begin Prod Deploy
      artifacts: true
    - Verify Prod Docker Health
