.custom-notices-item {
  padding: 0 .5rem 0 .5rem;
}

.custom-notices {
  margin-top: -1rem;
  margin-bottom: 1rem;
  background-color: $state-warning-bg;
  color: $eggplant;
  padding: 0.3rem 1rem 0.3rem 1rem;

  p {
    margin: 0.4rem 0 0.5rem 0;
  }
  a, i {
    color: $msugreen;
    text-decoration: none;
  }
  a:hover, a:active {
    color: $darkgray;
    text-decoration: underline;
  }
}

// Location notices
.location-notice {
  padding: 0 .5rem 0 .5rem;
}
