/* MSUL Prefooter */
.msul-prefooter {
  margin-left:-1.2rem;
  margin-right:-1rem;
  margin-bottom:2rem;
  padding-top:2rem;
  padding-bottom:2rem;
  padding-left:2rem;
  background-color: $parakeetgreen;
  color:#fff;
  font-weight:600;
  img.msul_logo {
    max-width:240px;
    margin-bottom:1rem;
  }
  ul li {
    list-style:none;
    line-height:2.5em;
  }

  a, a:visited {
    color:#fff;
    text-decoration:none;
    display:inline-block;
  }
  a:hover, a:active {
    color:#fff;
    text-decoration:underline;
    display:inline-block;
  }
  .msul-address-icon, .msul-address, .a-address, .a-phone-icon, .msul-phone-icon, .msul-phone {
    display: inline-flex;
    vertical-align:top;
    margin-bottom:1rem;
  }
  @media only screen and (min-width : 768px) {
    .footer-column:nth-child(2) {
      border-left:1px solid #fff;
    }
  }

  #preFooterSocial {
      background-color:#fff;
      border-radius: 5rem;
      width: 12rem;
      padding-bottom: 0.2rem;
      padding-top: 0.05rem;
      padding-right: 0.3rem;
      padding-left: 0.3rem;
      a, a:hover, a:active {
        text-decoration:none;
      }

      img {
        width:2.5rem;
      }
  }
}
/* End MSUL Prefooter */

footer {
  .vf-footer {
    ul {
      list-style:none;
      padding-left:0;
      margin-bottom:3rem;
    }
  }
  .msu-footer {
    .col-lg-3 {
      a:focus {
        display:inline-block;
      }
      img {
      margin-bottom:0;
      }
    }
    .col-lg-9 ul {
      display:block;
      line-height:1;
      margin-bottom:1rem;
      padding:0;

      &:first-child {
         margin-bottom:0.6rem;
      }

      li {
        list-style:none;
        display:inline;
        line-height:1.2;
        position:relative;

        &.small-text {
          font-size:.8125rem;
          color:#000;
          font-weight:400
        }
        &.bold-text {
          font-weight:400;
        }
        a {
           /*font-size:.8125rem;*/
          font-weight:400;
          color:#0A875F !important;
          display:inline-block;
          text-decoration:none;
          &:hover {
            text-decoration:underline;
          }
        }
        span {
          margin-left:0.1rem;
          margin-right:0.1rem;
          display:inline-block
        }
      }
    }
  }
}

@media only screen and (max-width:991.98px) {
  footer .msu-footer .col-lg-3 img {
    margin-bottom:30px;
    max-width:265px
  }
}

@media only screen and (max-width:575.98px) {
  footer .msu-footer .col-lg-3 img {
    margin-left:auto;
    margin-right:auto;
    display:block
  }
}

@media only screen and (max-width:575.98px) {
  footer .msu-footer ul:first-child {
    border-bottom:1px dotted #979797;
    padding-bottom:20px;
    margin-bottom:15px
  }
}

footer .msu-footer ul:first-child li {
  list-style:none;
  padding-bottom:2px;
  border-bottom:1px dotted #979797
}

@media (max-width:575.98px) {
  footer .msu-footer ul:first-child li {
    border-bottom:none;
    display:block;
    text-align:center
  }
  footer .msu-footer ul:first-child li span {
    display:none
  }
  footer .msu-footer ul {
    text-align:center;
  }
}

.fa-external-link {
  padding-left: 0.3rem;
}

@media only screen and (min-width : 768px) {
 .footer-container {
    padding-left:5%;
  }
}

#preFooterSocial a {
  line-height:1em;
  &:focus {
    border-radius:1.5rem;
  }
}

// Focus indicator
.navbar, nav-tabs li, .home-askalib, .msul-prefooter, .msu-footer .col-lg-3  {
  a:focus {
  border-radius:0.5rem;
  }
}
